<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>Find Owners</h2>

  <form th:object="${owner}" th:action="@{/owners}" method="get"
    class="form-horizontal" id="search-owner-form">
    <div class="container px-5">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="input" class="col-form-label">Last Name</label>
        </div>
        <div class="col">
          <input type="text" id="input" class="form-control" th:field="*{lastName}" aria-describedby="lastNameHelpInline">
        </div>
        <div class="col-auto">
    <span id="lastNameHelpInline" class="form-text" th:if="${#fields.hasAnyErrors()}">
      <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
    </span>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Find Owner</button>
    </div>

    <a class="btn btn-primary" th:href="@{/owners/new}">Add Owner</a>
  </form>

</body>
</html>
